/*------ RESET STYLES ------*/
:focus {
	outline: 0;
}

@font-face
{
font-family: Helvetica;
src: url('../fonts/Helvetica.ttf');
}

/*------ PAGE STYLE ------*/
body {
	font-family: Helvetica,Verdana,sans-serif;
	font-size: 67%;
	background-color: #fffef9;
}

/*------ LINKS ------*/
a {
	color: #004fb6;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: White;
}

/*------ FONT STYLES ------*/
ul, ol {
	font-size: 1.3em;
}

h1 {
	font-weight: bold;
	font-size: 3em;
}

h2 {
	font-weight: bold;
	font-size: 2.5em;
	margin: 1em 0;
}

h3 {
	font-weight: bold;
	font-size: 1.75em;
	margin: 1em 0;
}

h4 {
	font-weight: normal;
	font-size: 2.45em;
	margin: 1em 0;
}

p {
	font-size: 1.3em;
	margin: 1em; 
}

strong {
	font-weight: bold;
}

noscript {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	color: red;
}

hr {
	width: 95%;
	margin: 1em auto;
	height: 0.5em;
	background-color: #000000;
	clear: both;
}

canvas {
	float: left;
	display: inline-block;
	margin: 0.25em;
}

table {
	border-collapse: collapse;
}

tr:last-of-type {
	border-bottom: none;
}

th {
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
	text-align: center;
	border-bottom: 0.15em solid black;
	border-right: 0.15em solid black;
	background-color: #f8e167;
}

td {
	padding: 0.1em 0;
	font-size: 1.25em;
	border-right: 0.1em solid black;
}

th:last-of-type, td:last-of-type {
	border-right: none;
}

label {
	font-size: 1.3em;
	list-style-type: none;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	clear: left;
}

.red {
	font-size: 0.75em;
	color: red;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.center-groupProgress {
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearFix {
	clear: both;
}

.hidden {
	display: none;
}

.options a {
	margin: 0.5em 0.25em;
}

/*------ FORM STYLES ------*/

input {
	padding: 0.4em;
	border: 0.1em solid #000000;
	margin-bottom: 1em;
	width: 15em;
	display: block;
}

textarea {
	padding: 0.4em;
	border: 0.1em solid #000000;
	margin-bottom: 1em;
	width: 25em;
	display: block;
}

legend {
	margin-left: 2em;
	font-size: 1.5em;
	font-weight: bold;
}

/*------ HEADER ------*/
#headerWrapper {
	background: #f4d116; /* Fallback value. */
	background: -moz-linear-gradient(top, #fcf1b8 0%, #f4d116 100%); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, 0% #fcf1b8, 100%,#f4d116); /* Safari, Chrome 10 */
	background: -webkit-linear-gradient(top, #fcf1b8 0%,#f4d116 100%); /* Chrome 11+ */
	background: -o-linear-gradient(top, #fcf1b8 0%,#f4d116 100%); /* Opera */
	background: -ms-linear-gradient(top, #fcf1b8 0%,#f4d116 100%); /* IE 10+ */
	/* Horrible IE9 filter. */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='f9e788', endColorstr='#f4d116',GradientType=0 );*/
	background: linear-gradient(180deg, #fcf1b8 0%,#f4d116 100%); /* W3C */
	min-width: 996px;
	width: 100%;
}

#header {
	min-height:14em;
	overflow:hidden;
	position:relative;
	padding: 1em 0 0;
	max-width: 960px;
	margin: 0 auto;
}

/*---Logo---*/
#logo {
	float: left;
	padding: 1em 3em 0 0;
	height: 8em;
}

#logo img {
	height: 100%;
}

#logo h1 {
	display: inline;
	margin-left: 0.5em	;
}

#headerSubTabs ul {
	float: right;
	font-size: 1.15em;
	line-height: 1em;
	margin: 1em 0;
	padding: 0.5em 0 0.25em 0;
}
#headerSubTabs ul li {
	border-right: 0.1em solid #ada76f;
	margin: 0 0 0 12px;
	padding: 0.25em 1.5em 0.25em 0;
	text-align: right;
}

/*----Main navigation----*/
#headerTabs {
	position:absolute;
	bottom:0;
	left:0;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

ul#headerTabs li{
	background: none;
	display: block;
	float: left;
	list-style-type: none;
	margin: 0 0.25em 0 0;
	padding: 0;
	position: relative;
}

ul#headerTabs li a {
	background: #faeb98;
	color: #004FB6;
	display: block;
	padding: 1em 1em 0.8em 1em;
	width: auto;
	height: auto;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
ul#headerTabs li a.current {
	background-color: #fffef9;
}
ul#headerTabs li a:hover{ 
    background-color: #fff;
}

/*------------ PAGE LAYOUT ------------*/
#bodyCenter {
	margin: 0 auto 1em;
	padding: 1em 3em 0;
	position: relative;
	text-align: left;
	width: 960px;
}

/*----------- INDEX LAYOUT ------------*/
.indexPanel  h3{
	margin-left: 2em;
}

.indexPanel p {
	max-width: 50em;
	display: inline-block;
	margin: auto 1em;
}

.indexPanel img {
	max-width: 20em;
	display: inline-block;
}

/*---------- PROFILE LAYOUT -----------*/
#profileMain {
	max-width: 960px;
}

#profileMain canvas p {
	display: inline-block;
}

#profileMain table {
	float: right;
	margin: 2em 0;
}

.graphButton {
	display: inline-block;
	margin: 0;
	margin-left: -0.5em;
	padding: 0.5em 0;
	width: 4em;
	background: #debc0a;
	color: #FFF;
}

.rightRound {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.leftRound {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.graphButton:hover {
	background: #f7de57;
}

.graphButton_a {
	background: #f9e788;
	color: #000;
}

.profileButton {
	clear: both;
	display: block;
	margin: 0.25em auto;
	text-align: center;
	padding: 0.25em;
	font-size: 1.5em;
	border: 0.1em solid black;
	background-color: white;
	width: 9em;
}

.profilePanel {
	width: 49%;
	float: left;
	margin-left: 0;
	margin-right: 1%;
	margin-top: 0;
}

.profileTable {
	width: 40em;
	margin: 0 auto;
	text-align: center;
}

/*----- GROUP MANAGER ----*/
#myGroups {
float: left;
}

#myGroupsView {
float: left;
width:50%;
}

#myFriends {
float: right;
width:50%;
}

.outerGroupWrapper {
	height: 105%;
	float: right;
	position: relative;
	left: -50%;
}

.innerGroupWrapper {
	height: 100%;
	position: relative;
	left: 50%;
	overflow: hidden;
	padding: 1em 0;
}

.groupBox {
	width: 15em;
	height: 15em;
	position: relative;
	float: left;
	text-align: center;
	margin: 1em 2.5em;
}

.groupBox a {
	font-size: 1.25em;
}

.groupBox a img {
	height: 10em;
	width: auto;
	display: block;
	margin: 0.5em auto;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.groupBox a img:hover {
	height: 12em;
	margin-top: -0.5em;
}

#groupFilter {
	width: 75%;
	margin: auto;
}

/*---- ADMINISTRATION ----*/
.tableScroll {
	max-height: 15em;
	overflow: auto;
	width: 41.5em;
	margin-bottom: 2em;
}

.adminHeader, .adminCells {
	width: 40em;
	table-layout: fixed;
}

.adminHeader tr th, .adminCells tr td {
	text-align: center;
	vertical-align: middle;
	width: 33.3%;
	padding: 0.25em 0;
	word-wrap: break-word;
}

.adminCells a {
	text-decoration: none;
}

.foodCells tr th, .foodCells tr td {
	width: 20%;
}

/*---- CAPTURE PAGES ----*/
.captureForm {
	padding-bottom: 2em;
}

.captureForm input {
	display: inline;
	margin: 0 auto;
}

.captureForm .submit {
	width: 7em;	
}

/*------ LOGIN FORM ------*/
.fields input {
	width: 15em;
	float: left;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.unit input {
	display: inline-block;
	width: 6em;
}
.unit select {
	margin-bottom: 0.5em;
	height: 1.8em;
	vertical-align: bottom;
	width: 4.5em;
	font-size: 1.5em;
}

.button {
	float: right;
	margin-right: 1em;
	text-transform: uppercase;
	width: 5em;
}

.fields > .button {
	clear: left;
	margin-top: 1em;
}

.fields > .button ~ .button {
	clear: none;
}

.button:hover {
	background: #00FFFF; /* Fallback value. */
	background: -moz-linear-gradient(top, #ADD8E6 0%, #00FFFF 100%); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, 0% #ADD8E6, 100%,#00FFFF); /* Safari, Chrome 10 */
	background: -webkit-linear-gradient(top, #ADD8E6 0%,#00FFFF 100%); /* Chrome 11+ */
	background: -o-linear-gradient(top, #ADD8E6 0%,#00FFFF 100%); /* Opera */
	background: -ms-linear-gradient(top, #ADD8E6 0%,#00FFFF 100%); /* IE 10+ */
	/* Horrible IE9 filter. */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADD8E6', endColorstr='#00FFFF',GradientType=0 );*/
	background: linear-gradient(180deg, #ADD8E6 0%,#00FFFF 100%); /* W3C */
}
.button:active {
	background: #00FFFF; /* Fallback value. */
	background: -moz-linear-gradient(bottom, #ADD8E6 0%, #00FFFF 100%); /* Firefox */
	background: -webkit-gradient(linear, left bottom, left top, 0% #ADD8E6, 100%,#00FFFF); /* Safari, Chrome 10 */
	background: -webkit-linear-gradient(bottom, #ADD8E6 0%,#00FFFF 100%); /* Chrome 11+ */
	background: -o-linear-gradient(bottom, #ADD8E6 0%,#00FFFF 100%); /* Opera */
	background: -ms-linear-gradient(bottom, #ADD8E6 0%,#00FFFF 100%); /* IE 10+ */
	/* Horible IE9 filter. */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADD8E6', endColorstr='#00FFFF',GradientType=0 );*/
	background: linear-gradient(0deg, #ADD8E6 0%,#00FFFF 100%); /* W3C */
}

/*----- GOAL MANAGER------*/
.goalTable {
	width: 90%;
	margin: 0 auto;
}

.goalTable th, .goalTable td {
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 0;
	vertical-align: middle;
}

.goalSetter {
	width: 75%;
	margin: 2em auto;
	border: 0.1em solid #000;
	padding: 1em;
}

.goalSetter label {
	display: inline-block;
	clear: left;
	float: left;
	width: 30%;
	text-align: right;
	margin: 0.5em;
}

.goalSetter select {
	display: inline-block;
	margin: 0.5em 0;
}

.goalSetter select.unit {
	display: block;
	height: 2.2em;
	margin-top: 0.5em;
}

.goalSetter input {
	width: 25%;
	float: left;
	display: inline-block;
	margin-top: 0.5em;
}

.goalSetter input.tcal {
	width: 20%;
}

.goalSetter input.butt {
	width: 40%;
	margin: 0 7.5em;
}

/*----- CAPTURE STYLES ------*/
.newItem {
	width: 60%;
	border: 0.1em solid #000;
	padding: 0.5em 2em;
	margin: 0.5em auto;
	text-align: left;
}

.newItem label {
	font-size: 1.5em;
	text-align: right;
	width: 50%;
	float: left;
	line-height: 2em;
	margin: 0 0.5em;
	vertical-align: middle;
	text-transform: none;
}

.newItem input, .newItem textarea {
	width: 15em;
}

.newItem input#portion {
	width: 10%;
}

.newItem select {
	display: inline-block;
	float: right;
	height: 1.8em;
	margin: -2.6em 9.8em;
	font-size: 1.5em;
	clear: right;
}

.newItem .button {
	width: 20%;
}

.resultTable, .resultTableFood {
	width: 50%;
	margin: 0 auto;
}

.resultTable tr th, .resultTable tr td {
	width: 30%;
	vertical-align: middle;
}

.resultTableFood tr th, .resultTableFood tr td {
	width: 25%;
	vertical-align: middle;
}

.resultTable tr th:first-child, .resultTable tr td:first-child {
	width: 40%;
}

.resultTable input, .resultTableFood input {
	margin: 0.5em;
	display: inline-block;
	width: 20%;
}

.resultTable input.submit, .resultTableFood input.submit {
	border: none;
	width: 25%;
	color: navy;
	background-color: white;
}

.resultTable input.submit:hover, .resultTableFood input.submit:hover {
	text-decoration: underline;
}

.usersTable {
	width: 90%;
	margin: 0 auto;
	border: none;
	border-collapse: collapse;
}

.usersTable tr:nth-child(2) {
	border-top: 0.1em solid black;
}

.usersTable tr td {
	text-align:center;
	padding: 0.5em 0;
}

.usersTable tr td:nth-child(2) {
	text-align:center;
	padding: 0.5em 0;
	border-left: 0.1em solid black;
}
