/*
Stylesheet for calendar
*/	

/*input box in default state */ 
.tcalInput {
	margin: 0 auto;
	margin-bottom: 2em;
	width: 8%;
	background: url('../img/cal.gif') 100% 50% no-repeat;
	padding-right: 1.5em;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../img/no_cal.gif');
}

/* container of calendar's pop-up */
#tcal {
	position: absolute;	
	visibility: hidden;	
	z-index: 100;	
	width: 20em;	
	background-color: white;	
	margin-top: 0.2em;	
	padding: 0 0.2em 0.2em 0.2em;
	border: 0.1em solid silver;	
	-moz-box-shadow: 0.4em 0.4em 0.6em silver;	
	-webkit-box-shadow: 0.4em 0.4em 0.6em silver;	
	box-shadow: 0.4em 0.4em 0.6em silver;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";	
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');*/
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;	
	border: 0;	
	width: 100%;
}

#tcalControls td {	
	border-collapse: collapse;	
	border: 0;	
	padding: 0;	
	width: 1em;
	background-position: 50% 50%;	
	background-repeat: no-repeat;	
	cursor: pointer;
}

#tcalControls th {	
	border-collapse: collapse;	
	border: 0;	
	padding: 0;	
	line-height: 3em;	
	font-size: 0.9em;	
	text-align: center;	
	font-family: Tahoma, Geneva, sans-serif;	
	font-weight: bold;	
	white-space: nowrap;
}

#tcalPrevYear { 
	background-image: url('../img/prev_year.gif'); 
}

#tcalPrevMonth { 
	background-image: url('../img/prev_mon.gif'); 
}

#tcalNextMonth { 
	background-image: url('../img/next_mon.gif'); 
}

#tcalNextYear { 
	background-image: url('../img/next_year.gif'); 
}

/* table containing week days header and calendar grid */
#tcalGrid {	
	border-collapse: collapse;	
	border: 0.1em solid silver;	
	width: 100%;
}

#tcalGrid th {	
	border: 0.1em solid silver;	
	border-collapse: collapse;	
	padding: 0.2em 0;
	text-align: center;	
	font-family: Tahoma, Geneva, sans-serif;	
	font-size: 0.85em;	
	background-color: gray;
	color: white;
}

#tcalGrid td {	
	border: 0;	
	border-collapse: collapse;	
	padding: 0.2em 0;	
	text-align: center;	
	font-family: Tahoma, Geneva, sans-serif;	
	width: 14%;	
	font-size: 1em;	
	cursor: pointer;
}		

#tcalGrid td.tcalOtherMonth { 
	color: silver; 
}

#tcalGrid td.tcalWeekend { 
	background-color: #ACD6F5; 
}

#tcalGrid td.tcalToday { 
	border: 1px solid red; 
}

#tcalGrid td.tcalSelected { 
	background-color: #FFB3BE; 
}